header
  hgroup
    h1 RankServices
    h2 We work with our clients in order to manage their websites to get it ranked, and to keep it that way
    h3 
      a href="#about"
        i.icon-arrow
        span Learn More
  nav
    ul.main-nav
      <li><a href="#about">About</a></li><li><a href="#specialist">Specialist</a></li><li><a href="#services">Services</a></li><li><a href="#contact">Contact</a></li>

nav
  ul.main-nav
    <li><a href="#about">About</a></li><li><a href="#specialist">Specialist</a></li><li><a href="#services">Services</a></li><li><a href="#contact">Contact</a></li>
